@page "/topics"
@using BrainBoostBreak.Shared
@inject HttpClient Http
@inject IJSRuntime JsRuntime
@inject BBBModel BBB
<h3>Topics!</h3>

@if (TopicsTO != null)
{
    @foreach (var topic in TopicsTO.Topics)
    {
        <ul>
            <li>
                @topic.Name 
            @topic.Description
                </li>
        </ul>
    }
}
@code {

    TopicsTO _topics;

    TopicsTO TopicsTO
    {
        get
        {
            return _topics;
        }
        set
        {
            _topics = value;
            StateHasChanged();
        }
    }


    protected override async Task OnInitializedAsync()
    {
        TopicsTO = await Http.GetJsonAsync<TopicsTO>("api/topics");

    }
}
